#sidebar-nav {
background: #9c0606;
height: 100vh;
width: 150px;


  .sf-menu {
    list-style: none;
    line-height: 30px;
    padding-left: 20px;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
