.movie-list {
  display: flex;
  flex-wrap: wrap;
  background: #141414;

  .movie-list--search {
    // display: none;
  }
  button {
    // display: none;
  }
}
.movie-search {
  display: flex;
  padding: 15px;
  background: #141414;
  .movie-search--bar {
    flex: 8;
    background: #292929;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #141414;
    color: #fff;
  }
  button {
    flex: 1;
    background: #b9090b;
    border: 2px solid #b9090b;
    color: #fff;
  }
}
