.movie-container {
  background: #141414;
  width: 100%;
  height: 100vh;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  background: #141414;
  padding: 15px;

  .movie-list--search {
    // display: none;
  }
  button {
    // display: none;
  }
}
.movie-search {
  display: flex;
  padding: 15px;
  background: #141414;
  .movie-search--bar {
    flex: 8;
    background: #292929;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #141414;
    color: #fff;
  }
  button {
    background: #6b0607;
    border: 2px solid #6b0607;
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 14px;
  }
}
